@{
    ViewData["Title"] = "Home";
}

<meta charset="utf-8" />

<h1>Расчет арифметических выражений онлайн</h1>

@model SimpleCalcForWeb.Models.FormData

<form asp-action="Index" method="get">
    <p>Введите арифметическое выражение (скобки, числа, операции должны быть разделены пробелом).</p>
    <input asp-for="Expression" value=""/>
    <input type="submit" asp-for="TypeButton" value="Расчет"/>

<h2>@ViewData["Result"]</h2>

<h3>История</h3>
    <input asp-for="ExpressionFilter"/>
    <input asp-for="HostFilter"/>
    <input type="submit" asp-for="TypeButton" value="Отфильтровать"/>
</form>
<table>
    <tr><th width="40%">Выражение</th><th width="40%">Результат</th><th width="20%">Имя хоста</th></tr>
    @foreach(var note in ViewBag.History)
    {
        <tr>
            <td>@note.Expression</td>
            @switch(note.ErrorCode)
            {
                case 0:
                    <td>@note.Result</td>
                    break;
                case 1:
                    <td>Вы ввели неизвестную операцию.</td>
                    break;
                case 2:
                    <td>Неверный формат строки.</td>
                    break;
                case 3:
                    <td>Неверное соотношение цифр и арифметических операций.</td>
                    break;
                default:
                    <td>Неизвестная ошибка</td>
                    break;
            }
            <td>@note.Host</td>
        </tr>
    }
</table>