@{
    ViewData["Title"] = "Home";
}

<meta charset="utf-8" />

<h1>Расчет арифметических выражений онлайн</h1>

@model SimpleCalcForWeb.Models.Note

<form asp-action="Index" metod="post">
    <p>Введите арифметическое выражение (скобки, числа, операции должны быть разделены пробелом).</p>
    <input asp-for="Expression"/>
    <input type="submit" value="Расчет"/>
</form>

<h2>@ViewData["Result"]</h2>

<h3>История</h3>
<table>
    <tr><th width="500px">Выражение</th><th width="500px">Результат</th></tr>
    @foreach (var Note in ViewBag.History)
    {
        <tr>
            <td>@Note.Expression</td>
            <td>@Note.Result</td>
        </tr>
    }
</table>