@{
    ViewData["Title"] = "Home";
}

<meta charset="utf-8" />

<h1>Расчет арифметических выражений онлайн</h1>

@model SimpleCalcForWeb.Models.FormData

<form asp-action="Index" method="get">
    <p>Введите арифметическое выражение (скобки, числа, операции должны быть разделены пробелом).</p>
    <input asp-for="Expression" value=""/>
    <input type="submit" asp-for="TypeButton" value="Расчет"/>

<h2>@ViewData["Result"]</h2>

<h3>История</h3>
    <input asp-for="ExpressionFilter"/>
    <input asp-for="HostFilter"/>
    <input type="submit" asp-for="TypeButton" value="Отфильтровать"/>
</form>
<table>
    <tr><th width="500px">Выражение</th><th width="800px">Результат</th><th width="800px">Имя хоста</th></tr>
    @foreach(var note in ViewBag.History)
    {
        <tr>
            <td>@note.Expression</td>
            <td>
                @switch (note.CodeError)
                {
                    case 0:
                        ViewData["Note"] = note.Result;
                        break;
                    case 1:
                        ViewData["Note"] = "Вы ввели неизвестную операцию.";
                        break;
                    case 2:
                        ViewData["Note"] = "Неверный формат строки.";
                        break;
                    case 3:
                        ViewData["Note"] = "Неверное соотношение цифр и арифметических операций.";
                        break;
                    default:
                        ViewData["Note"] = "Неизвестеная ошибка.";
                        break;
                }

                @ViewData["Note"]
            </td>
            <td>@note.Host</td>
        </tr>
    }
</table>